/* estilos.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    background-color: #d3d3d3;
}

h1 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.estado {
    margin-bottom: 20px;
    padding: 15px;
}

.sao-paulo {
    background-color: #ffecc8;
    color: #d46060;
}


.rio-janeiro {
    background-color: #d2e0fb;
    color: #3469a5;
}

.minas-gerais {
    background-color: #fefae0;
    color: #8ca385;
}

.estado-titulo {
    color: #8B0000;
    font-size: 1.1em;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.info-section {
    margin: 15px 0;
}

.info-section h3 {
    font-size: 1em;
    margin: 10px 0;
}

.info-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.map-container {
    margin: 15px 0;
    position: relative;
    width: 100%;
    max-width: 600px;
}

.map-container iframe {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 15px 0;
    background-color: white;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}



a:hover {
    text-decoration: underline;
}